<h3>コメント一覧</h3>
    <% comments.each do |comment| %>
      <div>
        投稿者：<%= comment.user.name %>
      </div>
      <div>
        <% if current_admin %>
        <%= check_box_tag :comment %>
        <% end %>
        <%= comment.impression %>
      </div>
        <h5 class="mb-3">評価：<%= comment.rate %>点 </h5>
        <div id="star-rate-<%= comment.id %>"></div>
          <script>
            $('#star-rate-<%= comment.id %>').raty({
            　size: 30,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= comment.rate %>,
              readOnly: true
            });
          </script>
        <% if current_admin %>
        <div align="right">
          <%= link_to'コメントを削除', admin_food_comment_path(comment.food, comment), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger" %>
        </div>
        <% end %>
    <% end %>