<h3>コメント一覧</h3>
    <% comments.each do |comment| %>
      <div>
        <%= simple_format(comment.impression) %>
      </div>
        <h4 class="mb-3">評価：<%= comment.rate %>点 </h4>
        <div id="star-rate-<%= comment.id %>"></div>
          <script>
            $('#star-rate-<%= comment.id %>').raty({
            　size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= comment.rate %>,
              readOnly: true
            });
          </script>
    <% end %>