<h3>コメント一覧</h3>
    <% comments.each do |comment| %>
      <div>
        投稿者：<%= comment.user.name %>
      </div>
      <div>
        <%= check_box_tag :comment %>
        <%= comment.impression %>
      </div>
        <h5 class="mb-3">評価：<%= comment.rate %>点 </h5>
        <div id="star-rate-<%= comment.id %>"></div>
          <script>
            $('#star-rate-<%= comment.id %>').raty({
            　size: 30,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= comment.rate %>,
              readOnly: true
            });
          </script>
    <% end %>