    <h2>品名</h2>
    <%= form_with model: @food, url: foods_path(item_code: params[:id]), method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <div class="check_box">
      <span>タグ</span>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
        <div>
          <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
      <%= f.submit %>
    <% end %>