<div class="container">
  <div class="row">
    <div class="col-md-3">
        <%= image_tag @food_detail["mediumImageUrls"][0], class: "food-image" %><br>
    </div>
    <div class="col-md-9">
      <%= @food_detail['itemCaption'] %>
    </div>
  </div>

  <% if @food_exist.nil? %>
    <%= render 'food_name', food: @food %>
    <% end %>
  <% else %>
    <h4>品名</h4>
    <h5><%= @food_exist.name %></h5><br>
    <%= render 'comment_index', comments: @comments %>
      <div>
      <%#= link_to '削除', comment, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn' %>
      </div>
  <% end %>
</div>