<h4><strong>コメント一覧</strong></h4>
    <% comments.each do |comment| %>
      <div>
        投稿者：<%= comment.user.name %><div>  </div>
        <%= comment.impression %>
      </div>
        <div id="star-rate-<%= comment.id %>"></div>
          <script>
            $('#star-rate-<%= comment.id %>').raty({
            　size: 30,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= comment.rate %>,
              readOnly: true
            });
          </script>
        <h5 class="mb-3">評価：<%= comment.rate %>点 </h5>
    <% end %>