<div id="average-review-rating_<%= food['itemCode'].gsub(':','-') %>" data-score=<%= score_average(food) %>></div>
<!--itemCodeに一意性を持たせるために、置換メソッド（gsub)を使用-->
<script>
  $('#average-review-rating_<%= food['itemCode'].gsub(':','-') %>').raty({
    readOnly: true,
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<div>
  平均<strong><%= score_average(food) %></strong>点
</div>