<div class="container">
  <div class="row">
    <div class="col-md-3">
        <%= image_tag @food_detail["mediumImageUrls"][0], class: "food-image" %><br>
    </div>
    <div class="col-md-9">
      <%= @food_detail['itemCaption'] %>
    </div>
  </div>
  <% if @food_exist.nil? %>
  <%= render 'admin/foods/food_name', food: @food %>
  <% else %>
    <h4><strong>品名</strong></h4>
    <h5><%= @food_exist.name %></h5><br>

    <h4><strong>コメント投稿</strong></h4>
    <%= form_with model: @comment, url: food_comments_path(@food_exist.id), method: :post do |f| %>
      <%#= f.label :impression %>
      <%= f.text_area :impression, autofocus:true, class: 'form-control' %><br>

    <h4><strong>評価</strong></h4>
      <div class="field" id="star">
        <%= f.label :rate,  "星評価 (※必須)" ,id: "e"%>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>
        <script>
        $(document).on('turbolinks:load', function() {
          $('#star').empty();
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            scoreName: 'comment[rate]',
            });
          });
        </script>
        <%= f.submit "投稿"%>
    <% end %><br>

    <h4><strong>コメント一覧</strong></h4>
    <% @comments.each do |comment| %>
      <div>
        投稿者：<%= comment.user.name %>
        <%= simple_format(comment.impression) %>
      </div>
        <div class="mb-3">評価：<%= comment.rate %>点</div>
        <div id="star-rate-<%= comment.id %>"></div>
          <script>
            $('#star-rate-<%= comment.id %>').raty({
            　size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= comment.rate %>,
              readOnly: true
            });
          </script><br>
    <% end %>
  <% end %>
</div>
