<!DOCTYPE html>
<html>
  <head>
    <title>FoodsView</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- app/javascript 配下のファイルを参照するようになる。-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/dd1e8a5a25.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>FoodsView</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div button class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
      <!--ユーザーログイン後のヘッダー-->
              <% if user_signed_in? %>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                 <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
              <li>
                <%= link_to users_my_page_path, class: 'nav-link text-light' do %>
                 <i class="fa-solid fa-user"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to foods_path, class: 'nav-link text-light' do %>
                 <i class="fa-solid fa-bowl-food"></i>食品一覧
                <% end %>
              </li>
       <!--管理者ログイン後のヘッダー-->
              <% elsif admin_signed_in? %>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                 <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
              <li>
                <%= link_to admin_users_path, class: 'nav-link text-light' do %>
                 <i class="fas fa-users"></i> ユーザー一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_foods_path, class: 'nav-link text-light' do %>
                 <i class="fa-solid fa-bowl-food"></i>食品一覧
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
    </header>

    <main>
      <p id="notice"><%= notice %></p>
    </main>

    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight 2022</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
